<div class="li">
	{{burgers}}
	<p>Id: {{this.id}}</p>
	<p>Burger Name: {{this.burger_name}}</p>
{{#if devour}}
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		DEVOUR IT!
	</button>
{{/if}}

	{{!-- <button class="delete-burger"  class= "btn btn-primary" data-id="{{this.id}}">DELETE!</button> --}}
</div>

