<li>
	{{burgers}}
	<p>Id: {{this.id}}</p>
	<p>Burger Name: {{this.burger_name}}</p>

	<button class="change-devour" class= "btn btn-primary" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}DEVOUR IT!{{else}}DEVOUR IT!{{/if}}
	</button>

	<button class="delete-burger"  class= "btn btn-primary" data-id="{{this.id}}">DELETE!</button>
</li>

